<nav>
  <a routerLink = 'tasks'>Tasks</a>
  <a routerLink = 'signUp' *ngIf='!auth.isSignedIn()'>Sign up</a>
  <a routerLink = 'dashboard' *ngIf='auth.isSignedIn()'>Dashboard</a>
  <div class="signOut" *ngIf='auth.isSignedIn()'>
    <img [src]="User.photoURL ? User.photoURL : defaultIMGPath" alt="UserImage">
    <span *ngIf = '!User.displayName'>{{User.email}}</span>
    <span *ngIf = 'User.displayName'>{{User.displayName}}</span>
    <i class="fas fa-sign-out-alt" (click)='auth.signOut()'></i>
  </div>
</nav>
<router-outlet></router-outlet>